button {
    background-color: #427C81; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #26474E;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 0;
    font-size: 20px;
}

.card p {
    margin-bottom: 10px;
}

.card .date {
    color: #666;
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: underline;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #26474E;
}

a:hover {
    text-decoration: underline;
}
